body {
  background: bisque;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

img {
  max-width: 30%;
  display: block;
  margin: 30px auto;
}

footer a {
  padding: 10px;
  color: brown;
}

footer {
  text-align: center;
}

a {
  padding: 0px;
  color: blue;
}
